<div ng-controller="BoardCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="fade in">
                <uib-alert ng-repeat="alert in alerts" dismiss-on-timeout="8000" type="{[{alert.type}]}" close="closeAlert($index)">{[{alert.msg}]}</uib-alert>
            </div>
        </div>
    </div>
<div class="row" id="videoStreams">
    <div class="col-xs-3">
        <div class="embed-responsive embed-responsive-4by3">
            <video  id="myVideo" style="z-index: 1" ></video>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="embed-responsive embed-responsive-4by3">
            <video autoplay="autoplay" style="z-index: 1"></video>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="embed-responsive embed-responsive-4by3">
            <video autoplay="autoplay" style="z-index: 1"></video>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="embed-responsive embed-responsive-4by3">
            <video autoplay="autoplay" style="z-index: 1"></video>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
    <canvas id="c" style="border:1px solid #000000;"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-toolbar" role="toolbar">
            <button type="button" class="btn btn-default glyphicon glyphicon-pencil" ng-click="usePencilTool()"></button>
            <button type="button" class="btn btn-default glyphicon glyphicon-chevron-down" ng-click="changeBrushSize('-')"></button>
            <button type="button" class="btn btn-default glyphicon glyphicon-chevron-up" ng-click="changeBrushSize('+')"></button>
            <button type="button" class="btn btn-default glyphicon glyphicon-move" ng-click="useMoveTool()"></button>
            <button type="button" class="btn btn-default glyphicon glyphicon-th-large" ng-click="useRectangleTool()"></button>
            <button type="button" class="btn btn-default glyphicon glyphicon-remove-circle" ng-click="clearBoard()"></button>
            <button type="button" class="btn btn-default glyphicon glyphicon-step-backward" ng-click="undo()"></button>
            <input class="colour-picker" type="color" ng-model="brushColor" ng-change="onColorChange()">
        </div>
    </div>
</div>


</div>