<div class="row" ng-controller="BoardCtrl">
    <div class="col-md-4">
        <div class="embed-responsive embed-responsive-4by3">
            <video  id="myVideo" style="z-index: 1" ></video>
        </div>
        <div class="embed-responsive embed-responsive-4by3">
            <video autoplay="autoplay" id="clientVideo"  style="z-index: 1" ></video>
        </div>
        <div class="embed-responsive embed-responsive-4by3">
            <video autoplay="autoplay" id="box2" ></video>
        </div>
        <div class="embed-responsive embed-responsive-4by3">
            <video id="box3" ></video>
        </div>
    </div>
    <div class="col-md-8" >
        <canvas id="c" style="border:1px solid #000000;"></canvas>
    </div>
    <button type="button" class="btn btn-primary" ng-click="usePencilTool()">Pencil mode</button>
    <button type="button" class="btn btn-primary" ng-click="useMoveTool()">Move mode</button>
    <button type="button" class="btn btn-primary" ng-click="useRectangleTool()">Draw rectangle</button>
    <button type="button" class="btn btn-primary" ng-click="clearBoard()">Clear board</button>
    <button type="button" class="btn btn-primary" ng-click="changeBrushSize('+')">Increase brush size</button>
    <button type="button" class="btn btn-primary" ng-click="changeBrushSize('-')">Decrease brush size</button>
    <color-picker
            ng-model='brushColor'
            color-picker-format="'hex'"
            color-picker-swatch="true"
            color-picker-alpha="false"
            color-picker-swatch-only="true"
            color-picker-on-change='onColorChange($event, brushColor)'>
    </color-picker>

</div>
