<div ng-controller="InviteCtrl">

    <!--User added-->
    <div class="row">
        <div class="col-md-4" ng-repeat="invitee in invitees">
            <div class="col-xs-6">
                <img src="{[{invitee.userImage}]}">
            </div>
            <div class="col-xs-6">
                <ul>
                    <li>{[{invitee.name}]}</li>
                    <li>{[{invitee.department}]}</li>
                </ul>
                <button type="button" class="btn btn-danger" ng-click="remove(invitee)">Remove</button>
            </div>
        </div>
    </div>

    <!--Room number-->
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Room number</h1>
            <br>

            <h1 class="text-center">{[{randomRoomNumber}]}</h1>
        </div>
    </div>

    <!--Meeting date and time heading-->
    <div class="row">
        <div class="col-md-12">
            <legend>
                <h4>Meeting date & time</h4>
            </legend>
        </div>
    </div>

    <!--Date picker-->
    <div class="row">
        <div class="col-md-4">
            <p class="input-group" id="date-input">
                <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="date" is-open="cal.opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button></span>
            </p>

        </div>
    </div>

    <!--Time picker-->
    <div class="row">
        <div class="col-md-4">
            <uib-timepicker ng-model="time" ng-change="changed()" hour-step="hourStep" minute-step="minuteStep" show-meridian="false"></uib-timepicker>
        </div>
    </div>

    <!--Search heading-->
    <div class="row">
        <div class="col-md-12">
            <legend>
                <h4>Search people</h4>
            </legend>
        </div>
    </div>

    <!--Search input and buttons-->
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="search people" ng-model="search">
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" ng-click="sendInvite()">Send invitation</button>
            <button type="button" class="btn btn-default" ng-click="clearSearch()">Clear</button>
        </div>
    </div>

    <br>

    <!--User table-->
    <div class="row">
        <div class="col-md-12">

            <table class="table table-bordered table-striped">
                <thead>
                <th></th>
                <th>Name</th>
                <th>Dept.</th>
                <th></th>
                </thead>
                <tr ng-repeat="person in mockTableData | filter:search">
                    <td><img src='{[{person.userImage}]}'></td>
                    <td>{[{person.name}]}</td>
                    <td>{[{person.department}]}</td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="add(person)">Add</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>