<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/easyrtc/api/easyrtc.css" />

    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <script src="/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="/easyrtc/api/easyrtc.js"></script>
    <link rel="stylesheet" type="text/css" href="easyrtc/demos/css/demo_room.css" />
    <script type="text/javascript" src="/easyrtc/demos/js/demo_multiparty.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js"></script>
    <script type="text/javascript" src="/javascript/fabrictest.js"></script>


</head>

<body>
    {{{body}}}
</body>
</html>
