<!DOCTYPE html>
<head>
    <title>{{title}}</title>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    <!--EasyRTC-->
    <script type="text/javascript" src="/socket.io/lib/socket.io.js"></script>
    <script type="text/javascript" src="/easyrtc/api/easyrtc.js"></script>

    <!--Fabric.js-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js"></script>


    <!--Angular-->
    <script type="text/javascript" src="angular/angular.js"></script>
    <script type="text/javascript" src="angular-route/angular-route.js"></script>


    <!--Angular Controllers-->
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/controllers/MainCtrl.js"></script>
    <script type="text/javascript" src="/js/controllers/BoardCtrl.js"></script>
    <script type="text/javascript" src="/js/controllers/InviteCtrl.js"></script>

    <!--Ui.Bootstrap-->
    <script type="text/javascript" src="angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

    <!--Services and Config-->
    <script type="text/javascript" src="/js/AppConfig.js"></script>

</head>

<body ng-app="whiteboard">
    <div class="container">
        {{{body}}}
    </div>

</body>
