<!DOCTYPE html>
<html>
  <head>
      <script src="/socket.io-client/socket.io.js"></script>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
