<!DOCTYPE html>
<html ng-app="whiteboard">
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--<link rel="stylesheet" type="text/css" href="/easyrtc/api/easyrtc.css" />-->

    <!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
          <!--integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->

    <!--&lt;!&ndash; Optional theme &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"-->
          <!--integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">-->

    <!--&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
    <!--<script type="text/javascript" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->

    <!--<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">-->
    <!--<script src="/socket.io-client/socket.io.js"></script>-->
    <!--<script type="text/javascript" src="/easyrtc/api/easyrtc.js"></script>-->
    <!--&lt;!&ndash;<link rel="stylesheet" type="text/css" href="easyrtc/demos/css/demo_room.css" />&ndash;&gt;-->
    <!--<script type="text/javascript" src="/easyrtc/demos/js/demo_multiparty.js"></script>-->
    <script type="text/javascript" src="angular/angular.js"></script>

    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js"></script>-->
    <script type="text/javascript" src="/js/app.js"></script>



</head>

<div ng-controller="MainController">
    Your name:
    <input type="text" ng-model="username">
    <button ng-click='sayHello()'>greet</button>
    {[{username}]}

    <hr>

</div>
