<!DOCTYPE html>
<head>
    <title>{{title}}</title>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">


    <script src="/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="/easyrtc/api/easyrtc.js"></script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js"></script>



    <script type="text/javascript" src="angular/angular.js"></script>
    <script type="text/javascript" src="angular-route/angular-route.js"></script>


    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/controllers/MainCtrl.js"></script>
    <script type="text/javascript" src="/js/controllers/BoardCtrl.js"></script>
    <!--<script type="text/javascript" src="/js/services/EasyRTCService.js"></script>-->
    <script type="text/javascript" src="/js/services/FabricService.js"></script>
    <script type="text/javascript" src="/js/routes.js"></script>

</head>

<body ng-app="whiteboard">
    <div ng-controller="MainController">
        <div ng-view></div>
    </div>
</body>
